@{
    ViewBag.Title = "トップ";
}

<div class="jumbotron">
    <h1>雑な短縮URLサービス</h1>
    <p class="lead"> ざくっと作った短縮URLサービスです</p>
</div>

<div class="row container">
    <div class="col-md-8">
        <div class="row">
            @using (Ajax.BeginForm("Register", "ShortUrls", null
                , new AjaxOptions() { UpdateTargetId = "result", LoadingElementId = "loading" }, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Label("URLをここに貼り付けて", new { @class = "col-md-4 control-label" })
                    <div class="col-md-7">
                        @Html.TextBox("url", "", new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn btn-primary" value="登録" />
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div id="result"></div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div id="loading" class="loading-icon">
    <img src="~/Images/ajax-loader.gif" />
</div>

@section scripts
{
    <script>
        jQuery.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", ($(window).height() - this.height()) / 2 + $(window).scrollTop() + "px");
            this.css("left", ($(window).width() - this.width()) / 2 + $(window).scrollLeft() + "px");
            return this;
        };
        $("#loading").center();
    </script>
}
