@model ShortUrlWebApp.Models.ShortUrl

<div class="container shorturl-info">
    <div class="panel panel-info">
        <div class="panel-heading">登録したよ</div>
        <div class="panel-body">
            <input type="text" class="registerdurl" readonly="readonly" value="@Model.Short" onclick="this.select()" />
        </div>
    </div>
</div>