@model ShortUrlWebApp.Models.ShortUrl

<div class="container shorturl-info">
    <div class="panel panel-info">
        <div class="panel-heading">Heading</div>
        <div class="panel-body">
            <label class="label label-registerdurl">@Model.Short</label>
        </div>
    </div>
</div>